<div class="background p-grid p-jc-center">
  <div class="hero-wrapper p-lg-5 p-sm-8 p-col-10 p-text-center">
    <img [routerLink]="['/home']" src="assets/logo/zandbak_logo_border.png" style="cursor: pointer" width="100%">
    <h1 class="hero-text">Vind een speelterrein in uw buurt!</h1>
    <zandbak-search-bar
      [loading]="loading"
      [address]="address"
      [textFieldPlaceHolder]="textFieldPlaceHolder"
      (userCurrentPositionRequested)="getUserCurrentPosition()"
      (searchFieldClicked)="onSearchFieldClick()"
      (addressSelected)="onAddressSelected($event)"
    ></zandbak-search-bar>
  </div>
</div>
