<div class="search-bar p-formgroup-inline p-ai-center p-grid p-m-0">
  <div class="p-field">
        <span class="p-input-icon-right">
          <i *ngIf="!searchField?.nativeElement?.value" class="pi pi-map-marker" id="location" style="cursor: pointer; color: blue; font-size: 1.1em"
             (click)="getUserCurrentPosition()"></i>
          <i *ngIf="searchField?.nativeElement?.value" class="pi pi-times" style="cursor: pointer; color: blue; font-size: 1.1em"
             (click)="clearSearchTextField()"></i>

          <input #mapSearchField [style]="{'width': '400px'}" type="text" placeholder="Geef een adres in..." pInputText />
        </span>
  </div>
  <div class="p-field">
    <p-multiSelect id="functions" placeholder="Kies functies..."
                   [options]="allFunctions" (onChange)="onFunctionsSelectionChanged()"
                   [(ngModel)]="selectedFunctions"></p-multiSelect>
  </div>
  <div class="p-field">
    <p-slider id="range" [(ngModel)]="rangeInKm" (onChange)="onRangeSelectChange($event)" [min]="1" [max]="15"></p-slider>
  </div>
  <div class="p-ml-1 p-mr-4">
    <h4>{{rangeInKm}} Km</h4>
  </div>
  <div>
    <button pButton label="Reset filters" (click)="onResetButtonClick()"></button>
  </div>
  <div class="p-ml-3">
    <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
  </div>
</div>
