<div *ngIf="playGrounds" style="height: calc(100vh - 270px)">
  <div class="number-of-results-wrapper">
    <p *ngIf="totalResults > 0" class="number-of-results">{{totalResults}} Resultaten gevonden</p>
    <div *ngIf="totalResults == 0" class="number-of-results">
      <p>Geen resultaten gevonden.</p>
    </div>
  </div>

  <p-virtualScroller [value]="playGrounds"
                     [itemSize]="180"
                     scrollHeight="calc(100vh - 320px)"
                     [rows]="10"
                     [lazy]="true" (onLazyLoad)="loadPlayGround($event)">
    <ng-template let-playGround pTemplate="item">
      <div class="playground-card">
        <div class="playground-card-body">
          <img class="image" src="https://www.miracle-recreation.com/content/uploads/2018/11/Image-Header_Park.jpg.webp" />
          <p class="title">{{playGround.fields.naam}}</p>
          <p class="size">{{playGround.size}} m2</p>
          <p class="functions">{{playGround.fields.functies}}</p>
        </div>
      </div>
    </ng-template>
    <ng-template let-playGround pTemplate="loadingItem">
      <i class="pi pi-spin pi-spinner"></i>
    </ng-template>
  </p-virtualScroller>
</div>
