<div class="number-of-results-wrapper">
  <p *ngIf="totalResults > 0" class="number-of-results">{{totalResults}} Resultaten gevonden
  </p>
  <i *ngIf="loading" class="pi pi-spin pi-spinner"></i>
  <div *ngIf="totalResults == 0" class="number-of-results">
    <p>Geen resultaten gevonden.</p>
  </div>
</div>

<div class="list">
  <div *ngFor="let playground of playgrounds" class="playground-card" [ngClass]="{'active': selectedPlayground && playground === selectedPlayground}"
       (click)="onPlayGroundCardClick(playground)">
    <div class="playground-card-body">
      <img class="image"
           src="https://www.miracle-recreation.com/content/uploads/2018/11/Image-Header_Park.jpg.webp" />
      <p class="title">{{playground.fields.naam}}</p>
      <p class="size">{{playground.size}} m2</p>
      <p class="functions">{{playground.fields.functies}}</p>
    </div>
  </div>
</div>

<p-paginator [rows]="10" [pageLinkSize]="3" [totalRecords]="totalResults" [showFirstLastIcon]="false" [rowsPerPageOptions]="[10,50,100]" (onPageChange)="onPageChange($event)"></p-paginator>
