
.number-of-results-wrapper{
  height: 50px;
  border-bottom: 2px solid #e5e5e5;
}

.number-of-results {
  font-size: 1.2em;
  font-weight: bold;
  margin: 30px;
}


.active {
  background-color: rgba(246, 156, 21, 0.3);
}

.playground-card {
  vertical-align: center;
  cursor: pointer;

  &:hover:not(.active) {
    background-color: #f8f8f8;
  }

  .image {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin-right: 20px;
    float: left;
  }

  .playground-card-body {
    border-bottom: 1.5px solid #e5e5e5;
    padding: 30px;
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .title {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 10px 0;
  }

  .size {
    background-color: orange;
    padding: 6px 10px 6px 10px;
    border-radius: 50px;
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin: 0 0 10px 0;
    display: inline-block;
  }

  .functions {
    margin: 0;
    font-size: 1.1em;
  }
}
