<div class="p-col-12 p-p-0">
  <zandbak-filter-bar
    [allFunctions]="playGroundFunctions"
    [rangeInKm]="rangeInKm"
    (functionsSelectionChanged)="onFunctionsSelectionChanged($event)"
    (rangeSelectionChanged)="onRangeSelectChange($event)"
    (userCurrentPositionRequested)="getUserCurrentPosition()"
    (addressChanged)="onAddressChanged($event)"
    [loading]="loading"
    [address]="address"
    (resetButtonClicked)="onResetButtonClick()"
    [selectedPlayGroundFunctions]="selectedPlayGroundFunctions"
  >
  </zandbak-filter-bar>
</div>

<div class="p-col-12 p-p-0" style="height: calc(100vh - 240px)">
  <div class="p-grid p-m-0">
    <div class="p-lg-4 p-md-6 p-sm-12 p-col-12 p-p-0">
      <zandbak-playground-list
        [playGrounds]="playGroundList"
        [totalResults]="totalResults"
        (lazyLoadPlayGroundsChanged)="onLazyLoadMorePlayGrounds($event)"
        (playGroundSelected)="onPlayGroundSelected($event)"
      ></zandbak-playground-list>
    </div>

    <div class="p-md-6 p-lg-8 p-sm-12 p-p-0 p-col-12">
      <zandbak-playground-map
        [address]="address"
        [mapMarkers]="markers">
      </zandbak-playground-map>
    </div>
  </div>
</div>
