<div class="p-col-12 p-p-0">
  <zandbak-filter-bar>
  </zandbak-filter-bar>
</div>

<div class="p-col-12 p-p-0 p-d-flex" style="height: calc(100vh - 243px);">
  <zandbak-playground-list
    [playgrounds]="playgrounds"
    [totalResults]="totalResults"
    [loading]="loading"
    (paginationChanged)="onPaginationChanged($event)"
    (playGroundSelected)="onPlayGroundSelected($event)"
  ></zandbak-playground-list>
  <zandbak-playground-map
    [circle]="mapCircle"
    [playground]="selectedPlayGround"
    [mapMarkers]="markers">
  </zandbak-playground-map>
</div>
